{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="{% static 'css/colum.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/personal3.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">會議資訊小管家</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
				
                  
                  
					<li>
                        <a href="admin loging.html">管理專區</a>
                    </li>
					<li>
                        <a href="login.html">登入</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">會員名字<b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<ul align="left">
                            <li>
                                <a href="full-width.html">修改資料</a>
                            </li>
							 <li>
                                <a href="admin_homepage">個人首頁</a>
                            </li>
							                            <li>
                                <a href="upload.html">上傳會議或講座</a>
                            </li>
							<li>
                                <a href="">登出</a>
                            </li>
							</ul>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Lato:300,400|Lobster" rel="stylesheet">



<div class="container" id="start">
  <div class="row" >
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8">
            <p><i class="fa fa-home" aria-hidden="true"></i>羅達企業學會</p>
				<p><i class="fa fa-calendar" aria-hidden="true"></i>信箱：45445@gmail.com</p>
				<p><i class="material-icons">&#xe0b0;</i>聯絡人 ：張小姐 0903256165</p> 
		  </div>
        <div class="col-md-4">
          <img src="https://lh3.googleusercontent.com/-XYrgMcd8rVI/VP2baBty-9I/AAAAAAAAAK8/KoUhv6123KYbgguVjZyeke41XIAybPbggCEw/w140-h140-p/me.jpg" alt="My personal picture" id="me"/>
        </div>
      </div>
    </div>
  </div>
<br>




    <!-- Header Carousel -->

    <!-- Page Content -->
    <div class="container">
		  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="https://s.codepen.io/boomerang/iFrameKey-2cdda42e-78de-86ce-04df-6bfbfc89e1ad/index.html#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab" aria-expanded="true">未來會議</a></li>
      <li role="presentation"><a href="https://s.codepen.io/boomerang/iFrameKey-2cdda42e-78de-86ce-04df-6bfbfc89e1ad/index.html#panel-3" aria-controls="panel-3" role="tab" data-toggle="tab">已辦過的會議</a></li>
     </ul>
	<br>
    <!-- Tab panes -->
    <div class="tab-content">

     

      <div role="tabpanel" class="tab-pane active" id="panel-2">

        <div class="row masonry-container" style="position: relative; height: 956px;">
			<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                 <a href="information.html" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>
			
			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                            <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>

			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                         <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                             <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        </div> <!--/.masonry-container  -->

      </div><!--/.tab-panel -->

      <div role="tabpanel" class="tab-pane" id="panel-3">
        <div class="row masonry-container" style="position: relative; height: 0px;">
			<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                 <a href="information.html" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>
			
			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                         <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>

			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                         <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="1.gif" alt="">
                    <div class="caption">
                        <h4><strong>讓你如何成為一個好幹部</strong></h4>
						<ul align="left">
                    <li>日期: 2017/8/31</li>
                    <li>活動形態: 講座</li>
                    <li>主辦單位: 羅達企業學會</li>

                </ul>
          
                        <p>
                    <a href="#" class="btn btn-default">閱讀更多</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
 

        </div> <!--/.masonry-container  -->
      </div><!--/.tab-panel -->

     
    </div> <!--/.tab-content -->

  </div> <!--/.tab-panel  -->



    </div>
    <!-- /.container -->
</div>
    <!-- jQuery -->
    <script src="{% static 'js/admin_js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js//admin_js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
<script src="{% static 'js/admin_js/colum.js' %}"></script>
</html>
