{% load staticfiles %}
<html>
<head>
<title>會議資訊小管家</title>
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/index.css' %}" rel="stylesheet">


</head>
<body>
<header role="banner">
  <a href="index"><img src="{% static 'images/iCON.png' %}" style = "width:82px; margin-top:13px; margin-left:29px"></a>
  <ul class="utilities">
  	{% if request.user.is_authenticated %}
    <div class="dropdown">
    	<button class="dropbtn">{{ request.user }}
      	<i class="fa fa-caret-down"></i>
    	</button>
    	<div class="dropdown-content">
    	{% if request.user.is_staff %}
      		<a href="create_meeting">上傳會議或講座</a>
      		<a href="choose">會議管理</a>
      	{% else %}
      		<a href="personalpage">我的會議</a>
      	{% endif %}
      		<a href="logout">登出</a>
    	</div>
  	</div>
  	{% else %}
  	<div class="dropdown">
  		<a href="login">
    	<button class="dropbtn">會員登入
      	<i class="fa fa-caret-down"></i>
    	</button>
    	</a>
  	</div>
  	{% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="#">會議內容</a></li>



  </ul>
</nav>

<main role="main">
<br>

					<header>
						<h1 class='icon-calendar-empty'>創建會議</h1>
					</header>
				<section>
					<form action="" method="POST">
						{% csrf_token %}
                        {{ form }}
						<label>會議名稱</label>
						<input type='text' placeholder='' name="meetingName"><br>
						<label>日期(Y-M-D)</label>
						<input type='text' placeholder='' name="Date"><br>
						<label>地址</label>
						<input type='text' placeholder='' name="meetingPlace"><br>
						<label>會議室</label>
						<select name="meetingroom">
							{% for r in room %}
　						<option value="{{ r.room_id }}" 
							{% if r == current_r %} selected="selected" {% endif %} >
								{{ r.room_id }}
						</option>
							{% endfor %}
　						<!-- <option value="313">313</option>
　						<option value="G502">G502</option>
　						<option value="314">314</option> -->
　						...
						</select><br>
						<!-- <label>會議室SSID</label>
						<input type='text' placeholder=''><br> -->
						<label>開始時間H:M:S</label>
						<input type='text' placeholder='' name="STime"><br>
						<label>結束時間H:M:S</label>
						<input type='text' placeholder='' name="ETime"><br>	
						<label>主辦單位</label>
						<input type='text' placeholder='' name="Organizer"><br>
						<label>主講人</label>
						<input type='text' placeholder='' name="Speaker"><br>
						<label>活動對象</label>
						<input type='text' placeholder='' name="participants"><br>
						<label>人數上限</label>
                        <input type='text' placeholder='' name="attendance" ><br>
                        <label>報名費用</label>
                        <input type='text' placeholder='' name="fare" ><br>
						<label>會議內容</label><nobr><br>
						<textarea name="content" rows="10" cols="60"></textarea><br><br><br>
						<!-- <label>儲存webrtc</label>
						<form action="/action_page.php" method="get">
  							<input type="checkbox" name="vehicle" value="Bike">是
  							<input type="checkbox" name="vehicle" value="Car" checked>否<br>
  						</form> -->
  						<button style="width: 240px; margin: 0 350px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 110%;" type="submit">創建</button>
					</form>

				</section>
				<!-- <footer>
				<form>
					<input style="width: 140px; margin: 0 80px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 110%;" type="button" value="創建" onclick="window.location.href='start_meeting'" />
				</form>
				</footer>
 -->
</main>

</body>

</html>