{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>會議資訊小管家</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">會議資訊小管家</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="login" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <ul align="left">
                            <!-- <li>
                                <a href="full_width">修改資料</a>
                            </li> -->
                            {% if request.user.is_staff %}
                            <li>
                                <a href="create_meeting">上傳會議或講座</a>
                            </li>
                            <li>
                                <a href="choose">會議管理</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="personalpage">我的會議</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="logout">登出</a>
                            </li>
                            </ul>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="admin_logging">管理專區</a>
                    </li>
                    <li>
                        <a href="login">會員登入</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">特別邀請
                    <small>{{m.speaker}}</small>
                </h1>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-5">
                <a href="blog_post">
                    <img class="img-responsive img-hover" src="{% static 'images/1.gif' %}" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="">{{m.meeting_name}}</a>
                </h2>
				<br>
				<p><i class="fa fa-home" aria-hidden="true"></i>主辦單位 ： {{m.organizer}}</p>
                <p><i class="fa fa-dollar" aria-hidden="true"></i>報名費用   ： {{m.fare}}元</p>
				<p><i class="fa fa-users" aria-hidden="true"></i>人數限制 ： {{m.attendance}}人</p><br>
                {% if request.user.is_authenticated %}
                <a href="join&{{m.meeting_id}}" class="btn btn-primary">馬上報名<i class="fa fa-angle-right"></i></a> 
                {% else %}
                <a href="login" class="btn btn-primary">馬上報名<i class="fa fa-angle-right"></i></a>
                {% endif %}
            </div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			
                <p><i class="fa fa-home" aria-hidden="true"></i>主辦單位 ： {{m.organizer}}</p>
				<p><i class="fa fa-calendar" aria-hidden="true"></i>日期 ： {{m.meeting_date}}</p>
				<p><i class="material-icons">&#xe0b0;</i>聯絡人 ：{{m.organizer}} {{phone}}</p>
				<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{m.meeting_starttime}} - {{m.meeting_endtime}}</p>

        </div>
        <!-- /.row -->
		<div class="col-lg-12 text-center">
            <h1><b>{{m.meeting_name}}</b></h1>
            <p class="lead" align="left">一、定名：本會議定名為『{{m.meeting_name}}』</p>
            <p class="lead" align="left">二、主辦單位：{{m.organizer}}</p>
            <p class="lead" align="left">三、活動對象：{{m.participants}}</p>
			<p class="lead" align="left">四、講座內容：{{m.content}}</p>
            </div>
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">相關會議</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; UTCS Lab504 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="{% static 'js/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/js/bootstrap.min.js' %}"></script>

</body>

</html>
