<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">會議資訊小管家</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
				
                    <li>
                        <a href="contact.html">聯絡我們</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多資訊<b class="caret"></b></a>
                        <ul class="dropdown-menu">
						<ul align="left">
                            <li>
                                <a href="portfolio-1-col.html">會議</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">講座</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">演講</a>
                            </li>
						</ul>	
                        </ul>
                    </li>
					<li>
                        <a href="admin.html">管理專區</a>
                    </li>
					<li>
                        <a href="login.html">登入</a>
                    </li>
                    <li class="dropdown">
                        <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">會員名字<b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<ul align="left">
                            <li>
                                <a href="full-width.html">修改資料</a>
                            </li>
							<li>
                                <a href="">登出</a>
                            </li>
							</ul>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Subheading</small>
                </h1>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-5">
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="1.gif" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="blog-post.html">如何讓你成為一個好的幹部</a>
                </h2>
				<br>
				<p><i class="fa fa-home" aria-hidden="true"></i>主辦單位 ： 羅達企業學會</p>
                <p><i class="fa fa-dollar" aria-hidden="true"></i>報名費用   ：無</p>
				<p><i class="fa fa-users" aria-hidden="true"></i>人數限制 ：50</p><br>
                <a class="btn btn-primary" href="blog-post.html">馬上報名<i class="fa fa-angle-right"></i></a>
            </div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			
                <p><i class="fa fa-home" aria-hidden="true"></i>主辦單位 ： 羅達企業學會</p>
				<p><i class="fa fa-calendar" aria-hidden="true"></i>日期 ： 2017/8/31</p>
				<p><i class="material-icons">&#xe0b0;</i>聯絡人 ：張小姐 0903256165</p>
				<p><i class="fa fa-clock-o" aria-hidden="true"></i>1:00p.m - 3:30p.m</p>

        </div>
        <!-- /.row -->
		<div class="col-lg-12 text-center">
            <h1><b>如何讓你成為一個好的幹部</b></h1>
            <p class="lead" align="left">一、定名：本比賽擬定名為『2017~18羅東獅子會盃全國圍棋公開賽』</p>
            <p class="lead" align="left">二、主辦單位：羅達企業學會</p>
            <p class="lead" align="left">三、活動對象：公開給全部大學生參加</p>
			<p class="lead" align="left">四、講座內容：讓你如何帶領整個團體</p>
            </div>
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">相關會議</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
