{% load staticfiles %}
<html>
<head>
<title>會議資訊小管家</title>

<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/input.css' %}" rel="stylesheet">
<link href="{% static 'css/manage.css' %}" rel="stylesheet">
</head>
<body>
<header role="banner">
  <a href="index"><img src="{% static 'images/iCON.png' %}" style = "width:82px; margin-top:13px; margin-left:29px"></a>
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="choose">會議管理</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="meeting_room">會議室管理</a></li>


  </ul>
</nav>

<main role="main">
<br>

  <div class="position">
<h1>請選擇您的會議室</h1>
<br>
    {% for r in room %}
    <!--start button, nothing above this is necessary -->
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="ssid_mac&{{r.room_id}}"><span class="spot"></span>{{r.room_id}}</a>
        </div>
      </svg>
    </div>
    {% if forloop.counter|divisibleby:3 %}
      <br>
      <br>
      <br>
	  
    {% endif %}
    {% endfor %}
<br>
<div class="input-container">
<h1 align="center" style="color:red;">新增會議室</h1><br>
  <form accept="" method="POST" style="margin:0px auto;">
  {% csrf_token %}
  {{ form }}
  <label style="margin:0px auto;">
    <input type="text" name="room_name" style="margin:0px auto;"/>
    <div  class="label-text">會議室名稱</div>
  </label>
  <label style="margin:0px auto;">
    <input type="text" name="ssid" style="margin:0px auto;"/>
    <div class="label-text">Wifi SSID</div>
  </label>
  <label style="margin:0px auto;">
	<input type="text" name="mac" style="margin:0px auto;"/>
    <div class="label-text">Wifi Mac address</div>
  </label>
  <button class="send" type="submit" style="margin:0px auto;" >送出</button>
  </form>
</div>



</main>

</body>
<script src="{% static 'js/input.js' %}"></script>
</html>