{% load staticfiles %}
<html>
<head>

<link href="{% static 'css/form1.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<title>會議資訊小管家</title>

</head>
<body>
<header role="banner">
    <img src="{% static 'images/iCON.png' %}" style = "width:82px; margin-top:13px; margin-left:29px">
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="choose">會議管理</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="#">會議內容</a></li>
    <li class="write"><a href="#">座位圖</a></li>
    <li class="edit"><a href="#">簽到單</a></li>
    <li class="comments"><a href="#">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
<table class="wrapper">
  <caption>會議管理</caption>
  <thead>
    <tr>
      <th scope="col">會議代號</th>
      <th scope="col">會議主題</th>
      <th scope="col">日期</th>
      <th scope="col">開始時間</th>
	  <th scope="col"><a href="create_meeting.html">開始鍵</a></th>
    </tr>
  </thead>
  <tbody>
    {% for m in meeting %}
    <tr>
	  <td scope="row" data-label="Account">{{m.meeting_id}}</td>
      <td data-label="Due Date">{{m.meeting_name}}</td>
      <td data-label="Amount">{{m.meeting_date}}</td>
      <td data-label="Period">{{m.meeting_starttime}}</td>
	  <td data-label="Amount"><a href="start_meeting&{{m.meeting_id}}">開始</a></td>
    </tr>
    {% endfor %}
 </tbody>
  
</table>
<br>
<form>
<input style="width: 250px; margin: 0 auto; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="新增會議" onclick="window.location.href='create_meeting'" />
</form>
</main>

</body>

</html>