{% load staticfiles %}
<html>
<head>

<link href="{% static 'css/form1.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">


</head>
<body>
<header role="banner">
  <h1><a href="index">會議資訊小管家</a></h1>
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="admin_homepage">我的會議</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="#">會議內容</a></li>
    <li class="write"><a href="#">座位圖</a></li>
    <li class="edit"><a href="#">簽到單</a></li>
    <li class="comments"><a href="#">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
<table class="wrapper">
  <caption>會議管理</caption>
  <thead>
    <tr>
      <th scope="col">序號</th>
      <th scope="col">會議主題</th>
      <th scope="col">日期</th>
      <th scope="col">時間</th>
	  <th scope="col"><a href="create_meeting.html">編輯</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td scope="row" data-label="Account">1</td>
      <td data-label="Due Date">第5次主管會報</td>
      <td data-label="Amount">2017/7/2</td>
      <td data-label="Period">14:00</td>
	  <td data-label="Amount"><a href="create_meeting.html">編輯</a></td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">2</td>
      <td data-label="Due Date">03/01/2016</td>
      <td data-label="Amount">2017/7/2</td>
      <td data-label="Period">14:00</td>
	  <td data-label="Amount"><a href="create_meeting.html">編輯</a></td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">3</td>
      <td data-label="Due Date">03/01/2016</td>
      <td data-label="Amount">2017/7/2</td>
      <td data-label="Period">14:00</td>
	  <td data-label="Amount"><a href="create_meeting.html">編輯</a></td>
    </tr>
    <tr>
      <td scope="row" data-label="Acount">4</td>
      <td data-label="Due Date">02/01/2016</td>
      <td data-label="Amount">2017/7/2</td>
      <td data-label="Period">14:00</td>
	  <td data-label="Amount"><a href="create_meeting.html">編輯</a></td>
    </tr>
 </tbody>
  
</table>
<br>
<form>
<input style="width: 250px; margin: 0 auto; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="新增會議" onclick="window.location.href='create_meeting.html'" />
</form>
</main>

</body>

</html>