{% load staticfiles %}
<html>
<head>
<title>會議資訊小管家</title>

<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
</head>
<body>
<header role="banner">
   <img src="{% static 'images/iCON.png' %}" style = "width:52px; margin-top:13px; margin-left:23px">
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="choose">會議管理</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="start_meeting&{{mid}}">會議內容</a></li>
    <li class="write"><a href="seat&{{mid}}">座位圖</a></li>
    <li class="edit"><a href="member_login_time&{{mid}}">簽到單</a></li>
    <li class="comments"><a href="member_survey&{{mid}}">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
<h2 align="center">會員登入與登出時間</h2>
<br>
		<div class='add_meeting'>
			

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap&#39;s default functionality" class="table table-bordered table-hover">
         
          <thead>
            <tr>
              <th>會員ID</th>
              
              <th>登入時間</th>
              <th>登出時間</th>

            </tr>
          </thead>
          <tbody>
            {% for c in checkin %}
            <tr>
              <td>{{ c.member_email }}</td>

              {% if c.login_time is NONE %}
                <td>未登入</td>
              {% else %}
                <td>{{c.login_time}}</td>
              {% endif %}
              {% if c.logout_time is NONE %}
                <td>未登入</td>
              {% else %}
                <td>{{c.login_time}}</td>
              {% endif %}

            </tr>
            {% endfor %}
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

			
				
					
			</div>
			


    </div>
</main>

</body>

</html>