{% load staticfiles %}
<html>
<head>

<title>會議資訊小管家</title>
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
</head>
<body>
<header role="banner">
  <h1><a href="index">會議資訊小管家</a></h1>
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="choose">會議管理</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="start_meeting&{{mid}}">會議內容</a></li>
    <li class="write"><a href="seat&{{mid}}">座位圖</a></li>
    <li class="edit"><a href="member_login_time&{{mid}}">簽到單</a></li>
    <li class="comments"><a href="member_survey&{{mid}}">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
<h2 align="center">會議總調查表</h2>
		<div class='add_meeting'>
			

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap&#39;s default functionality" class="table table-bordered table-hover">
         
          <thead>
            <tr>
              <th>會員ID</th>
              <th>時間</th>
              <th>地點</th>
              <th>流程</th>
              <th>留言</th>
            </tr>
          </thead>
          <tbody>
            {% for f in feedback %}
            <tr>
              <td>{{f.member_email}}</td>
              
              {% if f.time_feedback == 3 %}
              <td>滿意</td>
              {% elif f.time_feedback == 2 %}
              <td>尚可</td>
              {% else %}
              <td>不滿意</td>
              {% endif %}

              {% if f.location_feedback == 3 %}
              <td>滿意</td>
              {% elif f.location_feedback == 2 %}
              <td>尚可</td>
              {% else %}
              <td>不滿意</td>
              {% endif %}

              {% if f.itinerary_feedback == 3 %}
              <td>滿意</td>
              {% elif f.itinerary_feedback == 2 %}
              <td>尚可</td>
              {% else %}
              <td>不滿意</td>
              {% endif %}

              <td>{{f.suggestions}}</td>
            </tr>
            {% endfor %}
            <!-- <tr>
              <td>Australia</td>
              <td>這次會議很很棒</td>
              <td>滿意</td>
              <td>尚可</td>
              <td>非常滿意</td
            </tr>
            <tr>
              <td>Greece</td>
              <td>這次會議很很棒</td>
              <td>滿意</td>
              <td>尚可</td>
              <td>非常滿意</td
            </tr>
            <tr>
              <td>Luxembourg</td>
              <td>這次會議很很棒這次會議很很棒</td>
              <td>滿意</td>
              <td>尚可</td>
              <td>非常滿意</td
            </tr>
            <tr>
              <td>Russia</td>
              <td>這次會議很很棒這次會議很很棒這次會議很很棒這次會議很很棒</td>
              <td>滿意</td>
              <td>尚可</td>
              <td>非常滿意</td
            </tr>
            <tr>
              <td>Sweden</td>
              <td>這次會議很很棒這次會議很很棒這次會議很很棒這次會議很很棒這次會議很很棒這次會議很很棒</td>
              <td>滿意</td>
              <td>尚可</td>
              <td>非常滿意</td
            </tr> -->
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

			
				
					
			</div>

</main>

</body>

</html>