{% load staticfiles %}
{% load list_filter %}
<html>
<head>

<title>會議資訊小管家</title>
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/bar.css' %}" rel="stylesheet">

</head>
<body>
<header role="banner">
  <img src="{% static 'images/iCON.png' %}" style = "width:82px; margin-top:13px; margin-left:29px">
  <ul class="utilities">
  	{% if request.user.is_authenticated %}
    <div class="dropdown">
    	<button class="dropbtn">{{ request.user }}
      	<i class="fa fa-caret-down"></i>
    	</button>
    	<div class="dropdown-content">
    	{% if request.user.is_staff %}
      		<a href="create_meeting">上傳會議或講座</a>
      		<a href="choose">會議管理</a>
      	{% else %}
      		<a href="personalpage">我的會議</a>
      	{% endif %}
      		<a href="logout">登出</a>
    	</div>
  	</div>
  	{% else %}
  	<div class="dropdown">
  		<a href="login">
    	<button class="dropbtn">會員登入
      	<i class="fa fa-caret-down"></i>
    	</button>
    	</a>
  	</div>
  	{% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="start_meeting&{{mid}}">會議內容</a></li>
    <li class="write"><a href="seat&{{mid}}">座位圖</a></li>
    <li class="edit"><a href="member_login_time&{{mid}}">簽到單</a></li>
    <li class="comments"><a href="member_survey&{{mid}}">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
		<h2>{{ meetingById.meeting_name }} {{meetingById.meeting_date}} {{meetingById.meeting_starttime}} {{clock}}</h2>
		<div id='editing' style="margin-top: 40px" >
        	<table width="100px" border="1" align="center">

        			
        			{% for y in y_r %}
					<tr>
						{% for x in x_r %}
						<td height="100px">
							{{x}} - {{y}}<br>
							{% get_at_index Name forloop.counter forloop.parentloop.counter x_r|length forloop.parentloop|length %}<br>
						</td>
						{% endfor %}
					</tr>
					{% endfor %}

			</table>
		</div>
	<form>
	<br>
	<input style="width: 140px; margin: 0 auto; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 110%;" type="button" value="開始" onclick="window.location.href='start_meeting&{{mid}}'" />
</form>
</main>

</body>

</html>