{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/manage.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/ssid_mac.css' %}" rel="stylesheet">-->
</head>
<body>
<header role="banner">
  <a href="index"><img src="{% static 'images/iCON.png' %}" style = "width:82px; margin-top:13px; margin-left:29px"></a>
  <ul class="utilities">
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">{{ request.user }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      {% if request.user.is_staff %}
          <a href="create_meeting">上傳會議或講座</a>
          <a href="choose">會議管理</a>
        {% else %}
          <a href="personalpage">我的會議</a>
        {% endif %}
          <a href="logout">登出</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="login">
      <button class="dropbtn">會員登入
        <i class="fa fa-caret-down"></i>
      </button>
      </a>
    </div>
    {% endif %} 
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="choose">會議室管理</a></li>


  </ul>
</nav>

<main role="main">
<br>

  <div class="position">
<h1>會議室 : {{rName}}</h1><br>
<h2 style="color:red;">
  {% if isBuild == 1 %}
    指紋庫已建好！
  {% else %}
    請用手機App工具新增指紋庫
  {% endif %}
</h2>
<br>
  <div class="text">
  <form><h3> WIFI SSID : {{ssid}} </h3><br> 
  <form><h3> WIFI MAC ADDRESS : {{mac}} </h3> <br> 
<br>
<br>
<h2>您在此會議室舉辦過的會議</h2><br>
  {% for m in meeting %}
    <h4>{{forloop.counter}}. {{m.meeting_name}}</h4><br><br>
  {% endfor %}
  </div>



</div>
</main>

</body>
<script src="{% static 'js/input.js' %}"></script>
</html>