{% load staticfiles %}
<html>
<head>


<link href="{% static 'css/index.css' %}" rel="stylesheet">


</head>
<body>
<header role="banner">
  <h1>會議資訊小管家</h1>
  <ul class="utilities">
    	  <div class="dropdown">
    <button class="dropbtn">會員名字
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 


  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard"><a href="start_meeting">會議內容</a></li>
    <li class="write"><a href="seat">座位圖</a></li>
    <li class="edit"><a href="member_login_time">簽到單</a></li>
    <li class="comments"><a href="member_survey">回饋單</a></li>

  </ul>
</nav>

<main role="main">
<br>
		<h2>XXX會議 2017年11月17號 1030a.m.</h2>
		<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px" align="center">探討專題</h1>
	
			<hr width=15% align=center>
		</div>
	
		<div class="one-third column">
			<font size="8px">會議內容：</font>
			<p>Skeleton is built on three core principles:</p>
			<ul class="square">
				<li><strong>886</strong>: Elegant scaling from a browser to tablets to mobile.</li>
				<li><strong>881</strong>: It's a tool for rapid development with best practices</li>
				<li><strong>888</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
			</ul>
		</div>


</div><!-- container -->


</main>

</body>

</html>