.contact-form{
  position: absolute;
  top:10%;
  left: 50%;
  transform: translateX(-50%);
}

.contact-form *{
  font-family: Segoe UI;
  font-weight: lighter;
}

.contact-form h1{
  width: 100%;
  text-align: center;
}

.field{
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
}

.field *{
  width: 300px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  left:0;
}

.field-expanded.message-box{
  height: 230px!important;
}

.field .text-area{
  background-color: #322d29;
  font-size: 12px;
  color: #827e75; 
  font-family: Roboto, arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', Symbola, EmojiSymbols !important;
  
  transform: translateX(0px);
  -webkit-transition: all 0.3s ease-in-out;
}
.field input:focus{outline:none;}

.field label{
  color: #fff;
  background-color: #313a3d;
  font-size: 1.45em;
	letter-spacing: 0.075em;
  text-align: center;
  transform: translateX(0px);
  -webkit-transition: all 0.3s ease-in-out;
  padding: auto;
}

.field-expanded label{
  background-color: #902727;
  width: 150px;
  transform: translateX(-75px);
  -webkit-transition: all 0.3s ease-in-out;
}

.field-expanded .text-area{
  padding-left: 15px;
  transform: translateX(75px);
  -webkit-transition: all 0.3s ease-in-out;
}

.message-box:hover .text-area{
  height: 200px;
  padding: 15px;
}

.field-expanded #message{
  height: 200px;
  padding: 15px;
  padding-right:0;
}

.contact-submit{
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #313a3d;
  color:#fff;
  font-size: 1.45em;
	letter-spacing: 0.075em;
  
  margin-left: 50%;
  transform: translateX(-50%);
}

.contact-submit:hover{
  background-color: #902727;
  transition: all .1s ease-in-out;
}

.contact-submit:active{
  transform: scale(1.05) translateX(-50%);
  transition: all .1s ease-in-out;
}

.input-container {
  padding: 20px 0 0px;
  text-align: center;
}
.input-container label {
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.input-container label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  transform: translateY(-34px);
  transition: all 0.3s;
}
.input-container input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color:black;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}
.input-container input:focus {
  width: 400px;
}
.input-container input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  transform: translateY(-74px);
}
.input-container input.value-exists + .label-text {
  font-size: 13px;
  transform: translateY(-74px);
}

.send {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 534px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
.send:hover, .send:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}
