body {
		font-family: sans-serif;
		background-color: #eeeeee;
	}
	.file-upload {
		background-color: #ffffff;
		width: 500px;
		margin: 0 auto;
		padding: 20px;
	}

	.file-upload-btn{
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		color: #fff;
		background-color: #1FB264;
		border: 2px solid #09A552;
	}
	.file-upload-input{
		display: none;
	}

	.image-upload-wrap {
		margin-top: 20px;
		border: 2px solid #15824B;
	}
	.image-title-wrap {
		padding: 15px;
		background-color: #15824B;
		color: #ffffff; 
	}

	.file-upload-image{
		display: block;
		max-height: 300px;
		width: 100px auto;
		margin: auto;
		padding: 20px;
	}

	.remove-image {
		float: right;
		background-color: transparent;
		border: 1px solid #ffffff;
		color: #ffffff;
		font-weight: 700;
	}